body {
  background-color: #999999;
  font-family: "meursault-variable", serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: span 12;
  background-color: #D40000;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-transform: uppercase;
  padding-left: 24px;
  border-radius: 5px;
  border: 10px solid black;
  box-shadow: 10px 20px 0px #f00; /* x, y, blur, color */
  text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
}

#mainimg {
  grid-column: span 8;
  width: 100%;
  margin-top: 24px;
  border-radius: 24px;
}

nav {
  grid-column: span 4;
  margin-top: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 24px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 12px;
}

nav li a {
  color: white;
  background-color: #D40000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  padding: 24px;
  display: block;
  transition: all 1s;
  width: 75%;
}

nav li a:hover {
  background-color: maroon;
  width: 100%;
  color: lightgreen;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.circle {
  padding: 10px;
  width: 250px;
  height: 250px;
  border: 3px solid green;
  background-color: red;
  color: white;
  border-radius: 500px;
  text-align: center;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  border-bottom: 5px solid black;
  font-size: 32px;
}

#contact {
  grid-template-columns: 1fr;
}

section img {
  width: 100%;
}

form {
  border: 2px solid black;
  border-radius: 5px;
  width: 640px;
  padding: 24px;
}
label {
  display: block;
  padding-bottom: 24px;
}

footer {
  grid-column: span 12;
  background-color: #D40000;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-transform: uppercase;
  padding-left: 24px;
  font-size: 32px;
  text-align: right;
  font-weight: bold;
  padding-right: 24px;
}

footer a {
  color: grey;
  font-size: 100px;
  transition: all 1s;
}

footer a:hover {
  color: white;
  font-size: 110px;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}
