h1 {color:green;background-color:#0000FF;}

header {
    background-color: orange;
}

.turnred {
    color: red;
    font-weight: bold;
}

#orangeblue {
    color: orange;
    background-color: blueviolet;
}

#browngreen {
    color: brown;
    background-color: green;
    font-weight: bold;
}

.browngreen {
    color: brown;
    background-color: green;
}

a {
    color: red;
    text-decoration: none;
}

a:visited {
    color: #CCC;
}

a:hover {
    color: green;
    text-decoration: underline;
}

